* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

a {
    color: inherit;
}

button, select, label, input {
    font-size: inherit;
    font-family: inherit;
}

button,
select,
label,
input[type="radio"],
input[type="checkbox"],
input[type="range"] {
    cursor: pointer;
}

li {
    display: block;
}

[hidden] {
    display: none !important;
}
