@import 'reset';
@import 'defs';
@import 'font-awesome/variables';

@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, .page {
    width: 100%;
    height: 100%;
    overflow: auto;
}

html {
    font-family: $body-text-font;
    line-height: 1.25;
    color: $body-text-color;
    background-color: $background-color;
}

.horizontal {
    @include flex(row, $horizontal: center, $vertical: stretch);
}

.vertical {
    @include flex(column, $horizontal: stretch, $vertical: center);
}

.vertical.spacing > * + * {
    margin-top: 1rem;
}

.padding {
    padding: 1rem;
}

.horizontal {
    @include flex(row, $horizontal: center, $vertical: stretch);
}

.flex {
    flex: 1;
}

.page {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $background-color;
    @include flex(column, $horizontal: stretch, $vertical: center);
}

.center:not(.vertical):not(.horizontal) {
    margin: auto;
}

.center.vertical {
    margin-top: auto;
    margin-right: auto;
}

.center.horizontal {
    margin-left: auto;
    margin-right: auto;
}

.page-loading-error {
    padding: 1rem;
    text-align: center;

    h2 {
        @include heading;
    }

    p {
        margin-top: 1rem;
        max-width: 50em;
    }

    #loading-error-text {
        display: inline-block;
        white-space: pre;
        font-family: monospace;
        text-align: left;
        color: $error-color;
    }

    #loading-error-browser-id {
        font-family: monospace;
    }
}

.page-loading-app, .page-loading-library {
    padding: 1rem;
    text-align: center;

    .center {
        position: relative;
        width: 100%;
        max-width: 50rem;
    }

    p {
        position: relative;
        @include heading;
    }

    progress {
        display: block;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .events {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        text-align: center;
        color: $subtle-text-color;

        > * + * {
            margin-top: 0.25rem;
        }

        > .error {
            color: $error-color;
        }

        :nth-child(1) { opacity: 1; }
        :nth-child(2) { opacity: 0.9; }
        :nth-child(3) { opacity: 0.8; }
        :nth-child(4) { opacity: 0.7; }
        :nth-child(5) { opacity: 0.6; }
        :nth-child(6) { opacity: 0.5; }
        :nth-child(7) { opacity: 0.4; }
        :nth-child(8) { opacity: 0.3; }
        :nth-child(9) { opacity: 0.2; }
        :nth-child(10) { opacity: 0.1; }
        :nth-child(n+10) { display: none; }
    }
}

.page-welcome {
    padding: 1rem;

    h2 {
        @include heading;
        text-align: center;
    }

    li {
        display: list-item;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    ul, p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    a {
        color: hsl(200, 100%, 50%);
        text-decoration: underline;
    }

    form {
        text-align: center;
    }

    form button {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

.page-google-drive,
.page-session-error {
    padding: 1rem;
    text-align: center;

    button {
        @include box-button;
        margin-top: 1.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        color: $white;

        img {
            display: block;
            width: 7rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
        }
    }
}

.page-google-drive {
    p { @include heading; }
}

.page-session-error {
    h2 { @include heading; }
    p {
        margin-top: 1rem;
    }
}

.page-soundboard {
    select, button {
        padding: 0.25em 0.5em;
    }

    #top-menu {
        select, button {
            height: 2.5rem;
        }

        #volume-down,
        #volume-up,
        #volume-slider {
            vertical-align: middle;
        }
    }

    #stop-button {
        font-size: 2em;
        width: 100%;
    }

    #options {
        flex-shrink: 0;
        @include flex(row,
            $vertical: stretch,
            $horizontal-spacing: 1rem
        );
        position: relative;

        & > * {
            vertical-align: middle;
        }

        label > * {
            vertical-align: middle;
        }

        .menu-button {
            &:before {
                font-family: Fontawesome;
                content: $fa-var-bars " ";
                vertical-align: middle;
            }
        }

        .menu {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 1000;
            @include box;
            margin: 0 !important; // Reset flex margin
            padding: 1rem;
            color: $white;
            box-shadow: 0.5rem 0.5rem hsla(0, 0%, 0%, 0.5);

            ul {
                @include flex(column, $vertical-spacing: 1rem);
            }

            .zoom {
                position: static;
            }
        }

        .error {
            @include flex(row,
                $vertical: center,
                $horizontal-spacing: 0.5rem
            );
            padding: 0 0.5rem;
            color: $white;
            background-color: hsl(0, 65%, 40%);

            .retry {
                height: auto;
                &:before {
                    @include icon($fa-var-refresh " ");
                    vertical-align: middle;
                }
                span {
                    vertical-align: middle;
                }
            }

            .close {
                height: auto;
                @include reset-control;
                font-size: 0;
                color: hsl(0, 65%, 15%);

                &:before {
                    font-size: 1.5rem;
                    line-height: 1;
                    @include icon($fa-var-times);
                }
            }
        }

        @media (max-width: 40em) {
            .other-menu {
                display: none;
            }
        }

        .zoom {
            position: absolute;
            right: 0;
            top: 0;

            & > * {
                vertical-align: middle;
            }
        }

        .zoom-slider {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        .zoom-in, .zoom-out {
            width: 2rem;
            height: 2rem;
            padding: 0;
        }

        .zoom-in:before, .zoom-out:before {
            font-family: FontAwesome;
        }

        .zoom-out:before {
            content: $fa-var-search-minus;
        }

        .zoom-in:before {
            content: $fa-var-search-plus;
        }
    }

    .scene-view {
        position: relative;
        flex: 1;
        @include flex(column,
            $horizontal: stretch
        );
        overflow: auto;
    }

    .scene-view .grouped,
    .scene-view .ungrouped {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .scene-list {
        margin: -0.5rem;
        @include flex(row,
            $multiline: true,
            $horizontal: center,
            $vertical: start
        );
    }

    .scene {
        min-width: (100% / 3);
        padding: 0.5rem;
        transition-property: opacity;
        transition-duration: 0.5s;
    }

    .scene.loading {
        opacity: 0.5;
        .scene-button {
            cursor: progress;
        }
    }

    @media (min-width: 20em) {
        .scene { min-width: (100% / 4); }
    }

    @media (min-width: 40em) {
        .scene { min-width: (100% / 10); }
    }

    @media (min-width: 60em) {
        .scene { min-width: (100% / 12); }
    }

    @media (min-width: 80em) {
        .scene { min-width: 0; }
    }

    .scene-button {
        position: relative;
        @include box-button;
        display: block;
        width: 100%;
        height: 100%;
    }

    .scene.error .scene-button:before {
        position: absolute;
        right: 0;
        top: 0;
        width: 1rem;
        height: 1rem;
        content: $fa-var-exclamation-triangle;
        font-family: FontAwesome;
        line-height: 1rem;
        padding: 0.5rem;
        color: $white;
        background-color: hsl(0, 75%, 50%);
    }

    .scene progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0 0.25rem hsla(0, 0%, 0%, 0.5);
        transition-property: opacity;
        transition-duration: 0.5s;
        pointer-events: none;
    }

    .scene:not(.loading) progress {
        opacity: 0;
    }

    .stop-button {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .scene-preview {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        background-color: $black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .scene-preview-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.5s;
    }

    .scene-preview-image.loaded {
        opacity: 1;
    }

    .scene-label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.5rem;
    }

    .scene-hotkey {
        color: $subtle-text-color;
    }
    .scene-hotkey:not(:empty):before {
        content: "(";
    }
    .scene-hotkey:not(:empty):after {
        content: ")";
    }

    .group-title {
        font-family: $decorative-text-font;
        color: $white;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        &:first-child {
            margin-top: 0;
        }
    }
}

html:not(.menu) .menu {
    display: none;
}

.zoom-16 { .scene { width: 100%; } }
.zoom-15 { .scene { width: (100% / 2); } }
.zoom-14 { .scene { width: (100% / 3); } }
.zoom-13 { .scene { width: (100% / 4); } }
.zoom-12 { .scene { width: (100% / 5); } }
.zoom-11 { .scene { width: (100% / 6); } }
.zoom-10 { .scene { width: (100% / 7); } }
.zoom-9 { .scene { width: (100% / 8); } }
.zoom-8 { .scene { width: (100% / 9); } }
.zoom-7 { .scene { width: (100% / 10); } }
.zoom-6 { .scene { width: (100% / 11); } }
.zoom-5 { .scene { width: (100% / 12); } }
.zoom-4 { .scene { width: (100% / 13); } }
.zoom-3 { .scene { width: (100% / 14); } }
.zoom-2 { .scene { width: (100% / 15); } }
.zoom-1 { .scene { width: (100% / 16); } }

.menu-button, .zoom, .scene.error {
    display: none !important;
}

.other-menu {
    margin-left: 0 !important;
    flex: 1;
}
