@import 'reset';
@import 'defs';
@import 'font-awesome/variables';

@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, .page {
    width: 100%;
    height: 100%;
    overflow: auto;
}

html {
    font-family: $body-text-font;
    line-height: 1.25;
    color: $body-text-color;
    background-color: $background-color;
}

.page {
    @include flex(column, $horizontal: stretch);
}

.center:not(.vertical):not(.horizontal) {
    margin: auto;
}

.center.vertical {
    margin-top: auto;
    margin-right: auto;
}

.center.horizontal {
    margin-left: auto;
    margin-right: auto;
}

.page-splash {
    padding: 1rem;
    text-align: center;
    
    p {
        position: relative;
        @include heading;
    }
    
    p:before {
        content: "";
        position: absolute;
        left: -3rem;
        top: 0;
        width: 2rem;
        height: 2rem;
        background-image: url("/images/loading.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        animation-duration: 0.75s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {
            transform: rotate3d(0, 0, 1, 0);
        }

        to {
            transform: rotate3d(0, 0, 1, 1turn);
        }
    }
}

.page-welcome {
    padding: 1rem;
    
    h2 {
        @include heading;
        text-align: center;
    }
    
    li {
        display: list-item;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    ul, p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .start {
        text-align: center;
    }
    
    .start button {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

.page-google-drive {
    padding: 1rem;
    text-align: center;
    
    p {
        @include heading;
    }
    
    button {
        @include box-button;
        margin-top: 1.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        color: $white;
        
        img {
            display: block;
            width: 7rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
        }
    }
}

.page-soundboard {
    .content {
        flex: 1;
        @include flex(column,
            $horizontal: stretch,
            $vertical-spacing: 1rem
        );
        overflow: auto;
        padding: 1rem;
    }
    
    #options {
        flex-shrink: 0;
        @include flex(row, $vertical: center);
        position: relative;
        
        & > * {
            vertical-align: middle;
        }
        
        select, button {
            height: 2rem;
            padding: 0.25rem;
        }
        
        label > * {
            vertical-align: middle;
        }
        
        .menu-button {
            &:before {
                font-family: Fontawesome;
                content: $fa-var-bars " ";
                vertical-align: middle;
            }
        }
        
        .menu {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 1000;
            @include box;
            padding: 1rem;
            color: $white;
            box-shadow: 0.5rem 0.5rem hsla(0, 0%, 0%, 0.5);
            
            ul {
                @include flex(column, $vertical-spacing: 1rem);
            }
            
            .zoom {
                position: static;
            }
        }
        
        .other-menu {
            padding-left: 1rem;
        }
        
        @media (max-width: 40em) {
            .other-menu {
                display: none;
            }
        }
        
        .zoom {
            position: absolute;
            right: 0;
            top: 0;
            
            & > * {
                vertical-align: middle;
            }
        }
        
        .zoom-slider {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        
        .zoom-in, .zoom-out {
            width: 2rem;
            height: 2rem;
        }
        
        .zoom-in:before, .zoom-out:before {
            font-family: FontAwesome;
        }
        
        .zoom-out:before {
            content: $fa-var-search-minus;
        }
        
        .zoom-in:before {
            content: $fa-var-search-plus;
        }
    }
    
    .scene-view {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .scene-list {
        margin: -0.5rem;
        @include flex(row,
            $multiline: true,
            $horizontal: center,
            $vertical: start
        );
    }
    
    .scene {
        min-width: (100% / 3);
        padding: 0.5rem;
    }
    
    @media (min-width: 20em) {
        .scene { min-width: (100% / 4); }
    }
    
    @media (min-width: 40em) {
        .scene { min-width: (100% / 10); }
    }
    
    @media (min-width: 60em) {
        .scene { min-width: (100% / 12); }
    }

    @media (min-width: 80em) {
        .scene { min-width: 0; }
    }
    
    .scene-button {
        position: relative;
        @include box-button;
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .scene.error .scene-button:before {
        position: absolute;
        right: 0;
        top: 0;
        width: 1rem;
        height: 1rem;
        content: $fa-var-exclamation-triangle;
        font-family: FontAwesome;
        line-height: 1rem;
        padding: 0.5rem;
        color: $white;
        background-color: hsl(0, 75%, 50%);
    }
    
    .scene progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 0 0.25rem hsla(0, 0%, 0%, 0.5);
    }
    
    .scene:not(.loading) progress {
        display: none;
    }
    
    .stop-button {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .scene-preview {
        width: 100%;
        padding-top: 56.25%;
        background-color: $black;
        background-image: url("http://blog.rpg-ambience.com/media/mage-library.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .scene-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.5rem;
    }
    
    .group-title {
        font-family: $decorative-text-font;
        color: $white;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        &:first-child {
            margin-top: 0;
        }
    }
}

html:not(.menu) .menu {
    display: none;
}

.zoom-16 { .scene { width: 100%; } }
.zoom-15 { .scene { width: (100% / 2); } }
.zoom-14 { .scene { width: (100% / 3); } }
.zoom-13 { .scene { width: (100% / 4); } }
.zoom-12 { .scene { width: (100% / 5); } }
.zoom-11 { .scene { width: (100% / 6); } }
.zoom-10 { .scene { width: (100% / 7); } }
.zoom-9 { .scene { width: (100% / 8); } }
.zoom-8 { .scene { width: (100% / 9); } }
.zoom-7 { .scene { width: (100% / 10); } }
.zoom-6 { .scene { width: (100% / 11); } }
.zoom-5 { .scene { width: (100% / 12); } }
.zoom-4 { .scene { width: (100% / 13); } }
.zoom-3 { .scene { width: (100% / 14); } }
.zoom-2 { .scene { width: (100% / 15); } }
.zoom-1 { .scene { width: (100% / 16); } }
